
{{summaryPlaceholder}}

{{extendedSummaryPlaceholder}}

{{#argsExist}}

{{#args}}
:param {{var}}: {{descriptionPlaceholder}}
:type {{var}}: {{type}}
{{/args}}
{{/argsExist}}
{{#exceptions}}
:raises {{type}}: {{descriptionPlaceholder}}
{{/exceptions}}
{{#returnsExist}}
{{#returns}}
:return: {{descriptionPlaceholder}}
:rtype: {{type}}
{{/returns}}
{{/returnsExist}}
